* {
    transition: .3s linear;
}
body {
    height:100%;
}
header {
    width: 100%;
    height: 60px;
    background: #5c00e6;
    box-sizing: border-box;
}
header .nav-brand {
    width: 70%;
    float: left;
    color:white;
}
.nav-brand h1 {
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: 18px;
    cursor: pointer;
}
.nav-brand ul {
    width: 50%;
    float: right;

}
.nav-brand ul li {
    padding-top: 0.1rem;
    margin:0 auto;
}
.nav-brand ul li a{
    color:grey;
    font-size: 15px;
    text-decoration:none;
}
.nav-brand ul li a:hover {
    color: white;
    transition: 0.1s linear;
}
.nav-brand .after {
    width: 1px;
    height:40px;
    background:grey;
    margin-top: 4px;
    margin-right: -1px;
}
.nav-end ul li {
    display: inline;
    /* margin-left: 1.5rem; */
}
.nav-end ul li:last-child{
    margin-left: 1rem;
}
.nav-end ul {
    padding-top: 1.1rem;
    display: flex;
    padding-left: 0.1rem;
}
.nav-end ul li a {
    color:white;
    text-decoration:none;
}

/* MAIN TAG */
.main {
    width:100%;
    height:607px;
    background:linear-gradient(180deg , #4A00E0 ,#8E2DE2);
}
.main h1  {
    color: white;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    padding-top: 12rem;
}
.main p {
    color: grey;
    font-size: 1em;
    text-align: center;
}
.main button:first-child {
    background: #10fae6;
    color:white;
    border: none;
    
}
.main button:last-child {
    background: linear-gradient(180deg , #4A00E0, 25px ,#8E2DE2);
    color:wheat;
    border:none;
}
button:last-child {
    margin-left: 3rem;
}
.main button {
    font-size: 0.8rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 25px;
}
.butons {
    display: flex; 
    justify-content: center;
}
