.nav-brand h1 {
    padding-left: 2rem;
}
.nav-brand ul {
    width: 60%;
}
/* main */
.main h1 {
    font-size: 2.2em;
}
.main p {
    font-size: 0.8em;
}
.butons button {
    width: 6rem;
    font-size: 0.6em;
}