.nav-brand h1 {
    width: 50%;
    height: 3.3rem;
    padding-left: 0.6rem;
}
.nav-brand ul {
    width: 142.6%;
    display: inline-block;
    background: black;
}
.nav-brand ul li {
    margin-top: 1rem;
}
.nav-end ul {
    padding-right: 1rem;
}
.main h1 {
    font-size: 2em;
    padding-top: 18rem;
}
.main p {
    font-size: 0.89em;
}
.butons button {
    width:4rem
}