* {
    transition: .3s linear;
}
.nav-brand h1 {
    float: left;
    padding-left: 3rem;
}
.nav-brand ul {
    float: none;
}
.nav-brand ul li:last-child {
    visibility: hidden;
    transition: linear;
}
.nav-end ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.main h1 {
    font-size: 2.5rem;
}
.main p {
    font-size: 0.9em;
}
.butons button {
    width: 8rem;
}